.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  padding: 0;
  margin-left: 93px;
  align-items: center;
}

.nav__item {
  margin-right: 50px;
  display: block;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  transition: 250ms;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--active:hover,
  &--active:focus {
    color: var(--accent-color);
  }

  &--active::after {
    content: '';
    width: 100%;
    display: block;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -26px;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--active:hover::after,
  &--active:focus::after,
  &--current::after {
    transform: scaleX(1);
  }
}

// .nav__link--active:hover {
//   color: var(--accent-color);
// }

// .nav__link--active:focus {
//   color: var(--accent-color);
// }

// .nav__link--active::after {
//   content: '';
//   width: 100%;
//   display: block;
//   height: 4px;
//   background-color: var(--accent-color);
//   position: absolute;
//   left: 0;
//   bottom: -26px;
//   border-radius: 4px;
//   transform: scaleX(0);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .nav__link--active:hover::after,
// .nav__link--active:focus::after,
// .nav__link--current::after {
//   transform: scaleX(1);
// }
